[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/zshmarks"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/zshmarks
	url = https://github.com/nerdyjem/zshmarks.git
[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/git-prompt"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/git-prompt
	url = https://github.com/woefe/git-prompt.zsh.git
