[credential "https://github.com/accesio"]
  username=jdamon@accesio.com
[user]
	name = Jimi Damon
	email = jdamon@accesio.com
[color]
	ui = auto

[color "branch"]
  current = 227 reverse
  local = white bold
  remote = green
[color "diff"]
  meta = 210
  frag = 45 bold
  old = 197
  new =  29
  
[color "status"]
  added = 227 bold
  changed = 42
  untracked = 23
  branch = 202 bold



[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  pager = less -F -R -X
  abbrev = 12

[pretty]
        fixes = Fixes: %h (\"%s\")

[alias]
        stat = status
        ci = commit
        br = branch
        co = checkout
        df = diff
	trash = !_tmpdir=$HOME/.Trash/$(date '+git_%Y%m%d%H%M%S') && mkdir ${_tmpdir} && git ls-files --others -z | xargs -0 --verbose mv -f -t ${_tmpdir} && unset _tmpdir
        lg = log -p
        glg = log --graph --oneline --decorate
        week = log --after=\"one week ago\"  --pretty=format=\"The author of %Cred%h%Creset was %Cgreen%an%Creset, %ar%n%s%n\"
        wl = log --after=\"last friday\"  --pretty=format:\"The author of %Cred%h%Creset was %Cgreen%an%Creset, %ar%n%s%n\"
        llog = log --date=local --pretty=format=oneline
        plog = log --pretty=format:\"%Cgreen%h%Creset %s\"
        phlog = log --pretty=format:\"%Cgreen%h%Creset %Cred%ar%Creset %s\"
        phulog = log --pretty=format:\"%C(114)%h%Creset %C(bold 110)%ae %C(174)%ar%Creset %s\"
        rmdfiles = log  --diff-filter=D --summary --stat
        untracked = ls-files --others --exclude-standard7
        ls-untracked = ls-files --others --exclude-standard
        suno = status -uno        
        dt = difftool
        new-files  = ls-files -o  --exclude-standard
        ls-files-u = ls-files --others --exclude-standard


[credential]
	helper = cache --timeout=3600
[filter "indent"]
[filter "indent"]
[filter "indent"]
[rerere]
	enabled = true
[push]
	default = matching

[difftool]
	prompt = false
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
[pager]
        status = true
[format]
	signoff = true
