[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/zshmarks"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/zshmarks
	url = https://github.com/nerdyjem/zshmarks.git
[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/git-prompt"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/git-prompt
	url = https://github.com/woefe/git-prompt.zsh.git
[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/zoxide"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/zoxide
	url = https://github.com/ajeetdsouza/zoxide.git
[submodule "ohmyzsh-custom/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = ohmyzsh-custom/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "bat/.config/bat/syntaxes/sublime-ledger-syntax"]
	path = bat/.config/bat/syntaxes/sublime-ledger-syntax
	url = https://github.com/moeffju/sublime-ledger-syntax.git
[submodule "bat/.config/bat/syntaxes/tmux-sublime"]
	path = bat/.config/bat/syntaxes/tmux-sublime
	url = https://github.com/Edditoria/tmux-sublime.git
